.rounded {
  border-radius: 8px;
  &-circle {
    border-radius: 50%;
  }
  &.mat-progress-bar,
  .mat-progress-bar-fill {
    border-radius: 10px;
    overflow: hidden;
  }
}
.overflow-hidden {
  overflow: hidden !important;
}

// Alignment
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}

// BACKGROUND SIZES
.background-size-cover {
  background-size: cover;
}
.background-size-contain {
  background-size: contain;
}
.background-size-100 {
  background-size: 100%;
}

[dir="rtl"] {
  .float-left {
    float: right;
  }
  .float-right {
    float: left;
  }
}

 .mat-form-field-appearance-outline .mat-form-field-outline {
   background: #fffefe 0% 0% no-repeat padding-box;
   border-radius: 8px;
   box-shadow: 0px 3px 10px #00000017;
   border: none;
 }

 .mat-form-field-outline-start,
 .mat-form-field-outline-end,
 .mat-form-field-outline-gap {
   border: none !important;
 }

 .mat-form-field-appearance-outline .mat-form-field-infix {
   padding: 12px 0px 12px 0px;
 }

 .mat-form-field-appearance-outline .mat-form-field-wrapper {
   margin: 0;
 }
 .mat-form-field-infix{
  border-top: 8px solid transparent;
 }
 mat-form-field {
  ::placeholder,mat-label,mat-option{
    font: 13px manrope;
    color: #102245;
    opacity: 70%;
    margin-bottom: 4px;
  }
  input{
    color:#102245;
    font:16px poppins;
  }
}